@model IEnumerable<Product>
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<p>Count: @Model.Count()</p>

<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-md-3">
            <div class="card p-1 m-1">
                <img src="~/images/@(p.Photo).jpg" class="img-fluid" alt="@p.Title" />
                <h3><strong>@p.Title</strong></h3>
                <ul>
                    <li>Artist: @p.Artist.Name</li>
                    <li>Genre: @p.Genre</li>
                    <li>Price: @p.Price</li>
                    <li>Description: @p.AlbumDescription</li>
                    <li>On stock: </li>
                </ul>
                @*@if (p.Storage.Amount > 0)
        {
            <a id="buyButton" class="btn btn-success" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-productId="@p.Id">Buy</a>
        }
        else
        {
            <button class="btn btn-dark" disabled>Sold out</button>
        }*@
                <a id="buyButton" class="btn btn-success" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-productId="@p.Id">Buy</a>

            </div>
        </div>
    }
</div>